{% if register == true %}
    <form class="col s12 m6 offset-m3" method="POST" action="{{ url_for('signup') }}">
{% else %}
    <form class="col s12 m6 offset-m3" method="POST" action="{{ url_for('signin') }}">
{% endif %}
    
        {% if register == True %}
            <!-- name -->
            <div class="form-group">
                <i class="fas fa-user prefix"></i>
                <label class="form-label" for="name">First Name</label>
                <input id="name" name="name" type="text" minlength="3" maxlength="15" pattern="^[a-zA-Z0-9]{3,15}$"
                    class="validate form-control" required>
                <small>
                    *Only the first name    
                </small>
            </div>
        {% endif %}

        <!-- email -->
        <div class="form-group">
            <i class="fas fa-envelope prefix"></i>
            <label for="email">Email</label>
            <input id="email" name="email" type="email" minlength="6" maxlength="40"
                pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="validate form-control" required>
        </div>
        <!-- password -->
        <div class="form-group">
            <i class="fas fa-key prefix"></i>
            <label for="password">Password</label>
            <input id="password" name="password" type="password" minlength="6" maxlength="50"
                pattern="^[a-zA-Z0-9]{5,15}$" class="validate form-control" required>
        </div>
        <!-- submit -->
        <button type="submit" class="btn btn-info">
            {% if register == True %} Sign Up {% else %} Sign In {% endif %}
            <i class="fas fa-sign-in-alt"></i>
        </button>
        <p class="center switch-sign">
            {% if register == True %}
                Already Registered?
                <a href="{{ url_for('signin') }}">Log In</a>
            {% else %}
                New Here?
                <a href="{{ url_for('signup') }}">Register Account</a>
            {% endif %}
        </p> 
    </div>
</form>

