{% extends 'layout/base.html' %}
{% block content %}
{% include 'components/navigation/navigation_home.html' %}
    {% if register == True %}
    <div class="container center-align" id="register">
        <h2 class="heading">Register here!</h2>
        <div class="row">
            {% include 'components/flash/flash_message.html' %}
            {% include 'components/forms/authentication.html' %}
        </div>
    </div>
    {% else %}
    <div class="container center-align" id="sign-in">
        <h2 class="heading">Sign in to your account</h2>
        <div class="row">
            {% include 'components/flash/flash_message.html' %}
            {% include 'components/forms/authentication.html' %}
        </div>
    </div>
    {% endif %}
{% endblock %}
