{% extends 'layout/base.html' %}
{% block content %}
{% include 'components/navigation/navigation.html' %}
    {% if register == True %}
    <div class="container" id="register">
        <h2 class="heading text-center">Register here!</h2>
    {% else %}
    <div class="container" id="sign-in">
        <h2 class="heading text-center">Sign in to your account</h2>
    {% endif %}
        
        <div class="jumbotron container jumbo-sign">
            {% include 'components/forms/authentication.html' %}
        </div>
        <div class="containter text-center flash">
            {% include 'components/flash/flash_message.html' %}
        </div>
    </div>
    
{% endblock %}
