{% extends 'layout/base.html' %}
{% block content %}
{% include 'components/navigation/navigation.html' %}

    <div class="container">
        <div class="row">
            <div class="col s12 m8 offset-m2">
                <div class="text-header">
                    <h3 class="text-center text-header">
                        {{ name|capitalize }}'s profile 
                    </h3>
                </div>
            </div>
        </div>
    </div>
    

    <div class="container jumbotron main">
        <h4 class="text-center">
            {% include 'components/flash/flash_message.html' %}
        </h4>
        <div class="row">
            {% for recipe in recipes %}
                <div class="col-sm-12 col-md-3 card">
                    <img class="card-img-top" src="{{ recipe.recipe_image }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><strong>{{ recipe.name_recipe|capitalize }}</strong></h5>
                        <p class="card-text">
                            <i class="fab fa-buffer prefix"></i>Category: {{ recipe.category }}
                        </p>
                        <p class="card-text">
                            <i class="fas fa-clock prefix"></i>Time: {{ recipe.time }}
                        </p>
                        <p class="card-text">
                            <i class="fas fa-dice-six prefix"></i>Yield: {{ recipe.yield }}
                        </p>
                        <a href="{{ url_for('editRecipe', user_id=session['user_id'], recipe_id=recipe._id) }}" class="btn btn-primary">
                            Edit Recipe <i class="fas fa-edit"></i>
                        </a>
                        <a href="{{ url_for('deleteRecipe', recipe_id=recipe._id) }}" class="btn btn-danger">
                            Delete Recipe <i class="fas fa-ban"></i>
                        </a>
                    </div>
                </div>
            {% else %}
        </div>
        
        <div class="center-text">
            <h2>No Recipes added</h2>
            <h4>Add a Recipe <a href="{{ url_for('addRecipe', user_id=session['user_id']) }}">Click here</a></h4>
        </div>
        {% endfor %}
    </div>
    
{% include 'components/footer/footer.html' %}        

{% endblock %}
