{% extends 'layout/base.html' %}
{% block content %}
{% include 'components/navigation/navigation.html' %}

    
    <h2 class="text-center text-header">Recipes</h2>

    <div class="container text-center mt-3 mb-3">
        <form action="{{ url_for('search_recipes') }}" method="POST" class="form-inline">
            <label for="query">Search Recipes </label>
            <input class="form-control mr-sm-2" type="text" name="query" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success " type="submit">Search</button>
            <a href="{{ url_for('recipes') }}" type="button" class="btn btn-outline-danger ml-4">Reset</a>
            
        </form>
    </div>

    <div class="container jumbotron main">
        <div class="row text-center">
            {% for recipe in recipes|reverse %}
            <div class="col-sm-12 col-md-3 card" onmouseover="over(this)" onmouseout="out(this)">
                    <img class="card-img-top" src="{{ recipe.recipe_image }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><strong>{{ recipe.name_recipe|capitalize }}</strong></h5>
                        <p class="card-text">
                            <i class="fab fa-buffer prefix"></i>Category: {{ recipe.category }}
                        </p>
                        <p class="card-text">
                            <i class="fas fa-clock prefix"></i>Time: {{ recipe.time }}
                        </p>
                        <p class="card-text">
                            <i class="fas fa-dice-six prefix"></i>Yield: {{ recipe.yield }}
                        </p>
                        <a href="{{ url_for('recipe', user_id=session['user_id'], recipe_id=recipe._id) }}" class="btn btn-primary">Check it out</a>
                    </div>
                </div>
            {% else %}
        </div>
        <div class="center-text">
            <h2>{{ query }} not found</h2>
        </div>
        {% endfor %}
    </div>
    
{% include 'components/footer/footer.html' %}        

{% endblock %}