{% extends 'layout/base.html' %}
{% block content %}
{% include 'components/navigation/navigation.html' %}

    
    <h3 class="center-align">Recipes</h3>

    <div class="container">
        <div class="row recipe-row">
            {% for recipe in recipes %}
            <div class="col s12 m6 card">
                <div class="row">
                    <img class="col s12 recipe-image center-align" src="{{ recipe.recipe_image }}">
                </div>
                <div class="row">
                    <h4 class="recipe-name"><strong>{{ recipe.name_recipe|capitalize }}</strong></h4>
                    <div class="card-content">
                        <h6><strong>Category: {{ recipe.category }}</strong></h6>
                        <div><i class="fas fa-clock prefix"></i> Time: {{ recipe.time }}</div>
                        <strong><em>Created by: {{ recipe.created_by }}</em></strong>
                    </div>
                </div>
                <div class="row">
                    <a href="{{ url_for('recipe', user_id=session['user_id'], recipe_id=recipe._id) }}" class="btn-small teal lighten-1">
                        See the Recipe <i class="fas fa-plus-square right"></i>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
{% include 'components/footer/footer.html' %}        

{% endblock %}