@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

nav{
    background-color: #ba3b46;
}
.brand-logo{
    font-family: 'Patua One', cursive;
    margin-left: 1rem;
}

.text-shadow{
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}