@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

body{
    background-color: #ffeedb;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.navbar{
    background-color: #ba3b46;
}
.brand-logo{
    font-family: 'Patua One', cursive;
    margin-right: 2rem;
    float: right;
}

.text-shadow{
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.recipe-row{
    align-items: center;
}

.card{
    background-color: rgb(97, 201, 168);
}

.recipe-image{
    margin-left: 15px;
}

.recipe-name{
    margin-left: 10px;   
}

.footer-text{
    margin-right: 3rem;
}

.icon{
    color: #fff;
    font-size: 1.8rem;
    padding: 10px;
}

.btn-small {
    margin: 20px 5px 0px 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

.footer{
    color: #fff;
    font-size: 1.2rem;
    background-color: #ba3b46;
    height: 50px;
}

/* Media */
@media screen and (min-width: 480px) {
    .recipe-image {
        width: 34.5vw!important;
        height: 38vh!important;
    }
  }