@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

body{
    background-color: #ffeedb;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
.text-header{
    background-color:  #ed9b40;
    font-family: 'Redressed', cursive;
    border-radius: 100px / 50px;
}

.navbar{
    background-color: #ba3b46;
}

.brand-logo{
    font-family: 'Patua One', cursive;
    margin-right: 2rem;
    float: right;
}

.card-panel {
    padding: 15px;
    margin: 10px;
}

.block {
    font-size: 4rem;
    color: #ba3b46;
    padding-top: 3rem;
    background-color: #ed9b40;
    height: 55vh;
    margin-bottom: 5rem;
    width: 70%;
}

.text-shadow{
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.recipe-row{
    align-items: center;
}

.card{
    background-color: rgb(97, 201, 168);
    margin: 16px;
}

.row .col.m6 {
    width: 48%;
}

.recipe-image{
    margin-top: 10px;
    margin-left: 15px;
}

.recipe-name{
    margin-left: 10px;   
}

.footer-text{
    font-size: 1.2rem;
    margin-right: 1rem;
}

.icon{
    color: #fff;
    padding: 5px;
}

.textarea{
    height: 100px;
}

.btn-small {
    margin: 20px 5px 0px 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

.footer{
    color: #fff;
    font-size: 1.2rem;
    background-color: #ba3b46;
    height: 50px;
}

/* Media */
@media screen and (min-width: 480px) {
    .recipe-image {
        width: 33.5vw!important;
        height: 38vh!important;
    }
    .block{
        font-size: 8rem;
        height: 70vh;
        width: 70%;
    }
    .footer-text{
        font-size: 1.8rem;
    }
    .icon{
        font-size: 1.8rem;
    }
  }

@media screen and (min-height: 810px) {
    .block{
        padding-top: 5vh;
    }
}